{% extends "layout.html" %}
{% block content %}
    <p> We are startup company whose goal is to provide best deals for the tourists who plans to trek in the himalayas. We provide the information about more than 100 trekking agencies and their deals . Choose the best deals which best suits you.


    
    </p>

    <h2>Our Team</h2>
    <p> CEO - Atul Nepal</p>
    <p> CTO - Samip Bhurtel</p>
    <p> CMO - Dikshyant Shrestha</p>
    <p> COO - Bishal Manandhar</p>

{% endblock content %}